g4f
setuptools
wheel
requests
moviepy
termcolor
flask
yt-dlp
flask-cors==4.0.0
playsound==1.2.2
Pillow
python-dotenv==0.18.0
srt_equalizer==0.1.8
platformdirs==4.1.0
undetected_chromedriver
assemblyai
brotli
google-api-python-client 
oauth2client
openai
google-generativeai
